*{
    padding: 0;
    margin: 0;

}
    
html{
    height: 100%;
    scroll-behavior: smooth;
}
body {
height: 100%;
    font-family: "Lato", sans-serif;

    overflow-y:scroll;


}
#main{
    height: 100%;
    position: relative;
}
#wrapper{
    position:relative;
    background: linear-gradient(to top right, #00ffff 0%, #9999ff 100%);
    min-height: 70%;

    padding: 2px;

}
#sym-con{
    display: block;
}
#sym-con-in{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 10px; */
}
#sym-con span{
    text-align: center;
    font-size: 30px;
    padding: 5px;
    margin: 7px;
    border: 2px black solid;
    border-radius: 10px;
    min-width: 40px;
}
#sym-con span:hover{
    border-color: red;
    background-color: cornsilk ;
    cursor: pointer;
    
}
#sym-con span:active{
    background-color: cornsilk;
    cursor: pointer;
    
}

.sym-title{
    padding: 10px 20px;
    color: rgb(0, 30, 129);
}

#copied{
    font-size: 22px;
    background-color: chartreuse;
    width: fit-content;
    position: fixed;
    top: 100px;
    right: 0;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    display: none;
    
}
#r-con{
    text-align: center;
    font-size: 18px;
}
#r-con input{
    font-size: 22px;
    padding: 5px;
    max-width: 80%;
    margin: 20px 0;
}
#r-con input::placeholder{
    font-size: 20px;
text-align: center;
}
#table-con{
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 80%;
    margin: 20px auto;
}
#table-r{
    display: flex;
    flex-direction: row;
    border: 2px black solid;
    margin-top: -2px;
}
#table-c-1{
    font-size: 18px;
padding: 20px 10px;
background-color: khaki;
width: 80%;
text-align: center;
border-right: 2px black solid;
}
#table-c-2{
    padding: 20px 10px;
    background-color: rgb(140, 240, 232);
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    }
    #table-c-2 span{
        width: 30px;
        margin: 0px;
    }
