*{
    padding: 0;
    margin: 0;
}
    
html{
    width: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(to bottom, #000000 30%, #000066 100%) fixed;
    color: #000;
    overflow-y: auto;

}

#warpper{
  width: 300px;
  margin: 40px auto;
  background-color: #40d2ff4d;
  border-radius: 20px;
  animation: animatezoom 1.5s ;
  padding-bottom: 30px;
  border: 3px solid cyan;
  box-shadow: 0px 0px 30px #14e4ff4d;
  color: #fff;
  text-shadow: 0px 0px 30px #ffd414;

}
#main-con{
    text-align: center;


}
#main-con img{
    width: 120px;
    margin: 30px auto 10px;
    position: relative;
}

#main-con h1{
    text-align: center;
    font-size:22px;
    font-weight:normal;
    letter-spacing:-.5px;

    
  }
#main-con h1 span.logo1{color:yellow;}
#main-con h1 span.logo2 {color:#3cff00;}

#form1{

  display: block;
   
}
#form1-in{
  padding: 0 40px;

 
}
#form2{
  
    margin: 0 40px;
    display: none;
    text-align: center;
}
#form2 img{
    margin: 10px;
    width: 130px;
    height: 130px;
    object-fit: none;
   
}
#form2 h1{
width: fit-content;
padding: 10px ;
margin: 0 auto;
font-weight: bold;
border: 2px cyan solid;
}
#em-btn{display: none; font-weight:bold;}
#qr-btn{display: inline; font-weight: bold;}
.input-group {
    position: relative;
    margin: 32px 0 20px;

  
  }
  input {
    font-size: 18px;
    color: rgb(0, 255, 255);
    padding: 10px 0px 10px 0px;
    display: block;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid #757575;

    
  }

  
  input:focus {
    outline:none;
   
  }
  label {
  
    color: rgb(245, 245, 245);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    background: none;
    left: 0px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  input:focus ~ label,
  input:valid ~ label {

    top: -20px;
    font-size: 16px;
    /* color: #14a9ff; */
  }
  
  .bar {
    position: relative;
    display:block;
    width:100%;
  }
  
  .bar:before,
  .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00ff0d;
    box-shadow: 0px 0px 30px #14ff338e;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .bar:before {
    left: 50%;
  }
  
  .bar:after {
    right: 50%;
  }
  
  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }
  
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  #forget-div{
    text-align: left;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  
  #forget-div a{
    font-size: 13px;
    color: #fbff00;
    text-decoration: none;

  }
  #error-con{
    color: #fff ;
    font-size: 15px;
    font-weight: bold;
    display: none;
  }
  #error-con2{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: none;
  }
  .logbtn{
    display: block;
    width: 70%;
    height: 50px;
    margin: 10px auto;
    border: 1px solid #33ccff;
    background: linear-gradient(120deg,#33ccff,#ff99cc,#33ccff);
    font-size: 16px;
    font-weight: bold;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .7s;
    animation: logAni 3s ease infinite;
  }
  .logbtn:hover{

    animation: none;
    background-position: right;

  }

  @keyframes logAni { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
  #signup-div{
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0;
    padding: 0 2px;

  }
  
  #signup-div a{
    
    cursor: pointer;
    color: #fbff00;
    text-decoration: none;
  }
  .bottom-text a{
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: #fbff00;

  }
  .bottom-text a:hover{
    text-decoration: underline;
  }

  #updQR{
    font-size: 22px;
    user-select: none;
    font-weight: bold;
    
  }
@media only screen and (max-width: 870px) {
  
   
}

  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

 
