
  #label{
    display:flex;
     flex-direction:column;
     width:50px;
     cursor:pointer;
     margin-top: 25px;
     margin-left: 20px;
     float: left;
     z-index: 1002;

  
 
   }
   
   #label span{
     background: #347bff;
     border-radius:10px;
     height:5px;
     margin: 3px -2px;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   #label span:nth-of-type(1){
     width:50%;
     
   }
   
   #label span:nth-of-type(2){
     width:100%;
   }
   
   
   #label span:nth-of-type(3){
     width:75%;
    
   }
   
   
   #label input[type="checkbox"]{
     display:none;
 
   }
   
   
   #label input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(4px,0px);
     background: #fff;
   }
   
   
   #label input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg) translate(-2px,0px);
     background: #fff;
   }
   
   
   #label input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(20px,-2px) rotatez(45deg);
     background: #fff;
   
   }

   
  #inNav{
    margin: 20px;   
    width: max-content;
   }
   #inNav h3{
   color: #fff;
   padding: 3px;
    }
    #inNav a{
        padding: 2px;
     display: flex;
     width: max-content;
     flex-direction: row;
     color: #000;
     text-decoration: none;
      }
      #inNav a:hover{
         color: yellow;
         transition: 0.2s;
        
       }
 
      #inNav h2{
         float: left;
         padding: 0 3px;
         margin: 5px 0;
       }
       
     #inNav img{
       float: left;
     height: 30px;
     }


     #ss{
      display: flex;
     
    }
    #sv a{
      float: left;
    }
    #sv img{
      display: flex;
      flex-direction: row;
      padding: 10px;
    }
    .switch {
      position: relative;
    
      width: 60px;
      height: 34px;
      margin-left: 5px;
      float: left;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      z-index: -10;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #05fc11;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #05fc11;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    #conb{
      width: 100%;
      height: 80px;
      position: fixed;
      top: 0;
      background-color: #6f90e9;
    }
    
    #geo-con{
      width: 250px;
      background-color: rgb(238, 238, 238);
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
    

    
    #geo-con div{
      font-size: 20px;
      font-weight: bold;
      color: #000;
      padding: 2px ;
      }
      #dwn-app-div{
        background-color: rgb(238, 238, 238);
        color: rgb(4, 0, 255);
        padding: 20px;
        margin: 20px 0;
        border-radius: 10px;
        text-align: center;
      }
      
      
      #dwn-app-div button{
        margin: 0 auto;
        padding: 10px;
        font-size: 19px;
        background-color: rgb(255, 239, 16);
        color: rgb(0, 0, 0);
        outline: none;
        border: 2px solid black;
      }
    
      #dwn-app-div button:hover{
    
        background-color: rgb(255, 200, 243);
        outline: none;
    
      }

   .sidenav {
    height: 100%;
    width: 0px;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #347bff;
    overflow-x: hidden;
    transition: 0.5s;


  }

  .sidenav::-webkit-scrollbar {
    display: none;
  }
#null{
    height: 100px;
    width: 20px;
}
#null-1{
  height: 100px;
  width: 0px;
  background-color: #347bff;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.5s;
 display: block;

}